

{% extends "adminBase.twig" %}


{% block main %}


<div id="projectContainer">
    <h2>Ajouter un projet</h2>
    <form class="form" action="/updateproject/{{project.id}}" method="post" enctype="multipart/form-data">
        <input class="Inpute" id="name" type="text" name="name" value="{{project.name}}">
        <input class="Inpute" id="url" type="text" name="url" value="{{project.url}}">
        <input class="Inpute" id="urlGit" type="text" name="urlGit" value="{{project.urlGit}}">
        <input id="imgProject" id="imgProject" type="file" name="image" value="{{project.image}}">

        <button type="submit">Ajouter</button>
    </form>
</div>


{% endblock %}